/* Header Section */

header {
    width: 100%;
    height: 70px;
    background-color: #3333ff;
}

h1 {
    color: #ffffff;
    display: flex;
    justify-content: center;
}

/* Left Search City Section */

.data-section {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 20px;
}

#search-for-city {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#search-input {
    width: 350px;
    margin-top: 15px;
}

#search-btn {
    width: 350px;
    margin-top: 15px;
    background-color: #3399ff;
    color: #ffffff;
}

#search-btn:hover {
    background-color: #00ccff;
}

/* Search History Boxoes */

#search-history {
    margin-top: 20px;
    margin-bottom: 30px;
}

.search-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.search-card {
    background-color: #cccccc;
    text-align: center;
    padding-top: 8px;
}

.gap-search-card {
    background-color: #ffffff;
    flex-grow: 1;
}

/* Right-Hand Results Section */

.results-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Location Card Section */

#location-container {
    flex: 1;
    width: 100%;
    height: 20px;
    text-align: left;
    margin: 0px 30px 0px 30px;
    border: #000000;
}

h3 {
    font-size: 50px;
}

/* Five Day Forecast Section */

#five-day-forecast {
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    color: white;
}

.forecast-section {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.forecast-card {
    background-color: #1f3d7a;
    padding: 10px;
}

.gap-container {
    background-color: #ffffff;
    flex-grow: 1;
}

.location-card {
    margin-bottom: 20px;
    border: 2px solid;
    padding: 10px;
}